.container {
  padding: 4rem 1rem;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/* Card Styles */
.howItWorksCard {
  background: #ffffff;
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  text-align: left;
  border-radius: 0.75rem;
  border: 1px solid rgba(50, 130, 184, 0.1);
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(50, 130, 184, 0.05);
}

.icon {
  background: rgba(50, 130, 184, 0.1);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.icon svg {
}

.howItWorksCard p {
  margin: 0;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr; /* Stacks cards in one column on mobile */
  }
}
