/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Root Variables */
:root {
  --background: #ffffff;
  --text-primary: #1b262c; /* For h1 & h2 */
  --text-secondary: #3282b8; /* For h3 */
  --text-tertiary: #0f4c75; /* For h4 */
  --text-body: #697177; /* For p */
}

/* Global Styles */
* {
  font-family: "Poppins", Arial, sans-serif;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-body);
  line-height: 1.6;
  height: 100vh;
}

.mainContent {
  min-height: 95%;
}

/* Reset Margins for Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-style: normal;
}

/* Paragraph */
p {
  margin: 0 0 3rem;
  color: var(--text-body);
  font-size: clamp(0.75rem, 2vw, 1rem);
  font-weight: 400;
  line-height: 1.5625rem;
}

/* Headings */
h1 {
  color: var(--text-primary);
  font-size: clamp(2rem, 5vw, 3.125rem);
  font-weight: 700;
  line-height: 3.75rem;
}

h2 {
  color: var(--text-primary);
  font-size: clamp(1.5rem, 3.5vw, 2.25rem);
  font-weight: 700;
  line-height: 3.125rem;
}

h3 {
  color: var(--text-secondary);
  font-size: clamp(1.15rem, 3.5vw, 1.25rem); /* Responsive scaling */
  font-weight: 600;
  line-height: 1.625rem; /* Matches desktop */
}

h4 {
  color: var(--text-tertiary);
  font-size: clamp(0.875rem, 2vw, 1.125rem); /* Responsive scaling */
  font-weight: 600;
  line-height: 1.5rem; /* Matches desktop */
}
